body {
    background-image: url("./aaa.gif");
    background-repeat: repeat;
    padding: 50px;
    display: flex;
    justify-content: center;
}

li {
    font-size: 200%;
    color: white;
}

button {
    background-color: black;
    color: green;
    font-size: 150%;
}